<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo de Vendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Resumo de Vendas</h1>
    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Quantidade Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item, quantidade_total in summary %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ quantidade_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
