<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Vendas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Relatório de Vendas</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Produto</th>
                <th>Quantidade</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
                <td>{{ venda.date }}</td>
                <td>{{ venda.item }}</td>
                <td>{{ venda.quantidade }}</td>
                <td>{{ venda.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
